server {
    listen 80;
    server_name {{ wp_fqdn }};
    root {{ wp_install_dir }};
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php-fpm/www.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    error_log /var/log/nginx/wp_error.log;
    access_log /var/log/nginx/wp_access.log;
}
