<VirtualHost *:80>
    ServerName wiki.nexcore.local
    DocumentRoot /var/www/mediawiki
    
    <Directory /var/www/mediawiki>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
