<VirtualHost *:80>
    ServerName www.{{ domain_name }}
    DocumentRoot {{ wp_install_dir }}
    
    <Directory {{ wp_install_dir }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
